{% extends 'base.html' %}
{% block content %}
<h5>作成日:2024年2月26日<br>
    最終更新日:
</h5>
<h1>諸々の多肉記録１</h1>
{% load static %}
<img src="{% static 'front/img2.jpeg' %}" width="50%" height="50%">
<p>
    直上の写真は2022年2月24日に撮影された二代目オブツーサ<br>
    日当たりを最大限よくするために釣り糸で吊り下げられている<br>
    この骨組みは2024年まで使用された<br>
    よく見ると子株が生えている<br>
    ぼんやり映っている植木鉢に植えられているのは枯死した初代オブツーサ



</p>

<img src="{% static 'front/img3.jpeg' %}" width="50%" height="50%"><img src="{% static 'front/img4.jpeg' %}" width="50%" height="50%">
<p>
    直上左の写真は2022年2月24日に撮影された二代目オブツーサのつぼみ<br>
    2022年4月16日に撮影された写真(直上右)では開花が確認できる



</p>
<img src="{% static 'front/img5.jpeg' %}" width="50%" height="50%"><img src="{% static 'front/img6.jpeg' %}" width="50%" height="50%">
<p>
    直上左の写真は2022年6月19日に撮影された二代目オブツーサの初代クローン<br>
    直上右の写真は同日の株分け後の二代目オブツーサ<br>
    この時にも二代目クローンが確認できる。<br>
</p>
{% endblock content %}